*{
	box-sizing: border-box;
}

body {
	background-color: rgb(255, 255, 255);
	font-family: "Comfortaa", sans-serif;
	margin: 0;
}
p {
	font-size: 12px;
	text-align: right;
}
table {
	border: .2px solid rgb(175, 175, 175);
	position: static;
	width: 100%;
	top: 0;
	border-collapse: separate;
	border-spacing: 0px;
}
th {
	font-size: 20px;
	padding: 25px;
	background-color: rgb(200, 200, 200);
	border: .4px solid rgb(219, 219, 219);
}
td {
	border: .25px solid rgb(153, 153, 153);
	padding: 15px;
	background-color: rgb(255, 255, 255);
	width: 25%;
}
/*Interactive Elements*/
*:focus{
	outline: #6cc644 5px solid
}
button {
    display: block;
    width: 75%;
    position: relative;
    margin: 20px 0px 5px 0px;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
}
button:hover{
	background-color:#6cc644;
	transition: ease-in .1s;
	color: white;
}
a {
	cursor: pointer;
	color: lightcoral;
}
/* Entry Form  */
.form_container{
	background-color: rgb(56, 56, 56);
	padding: 5px;
	margin: auto 0;
	position: relative;
}
.overlay_form {
	width: 750px;
	clear: both;
	padding: 0px;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 1em;
}
.overlay_form label {
    display: block;
    color: white;
    font-weight: 900;
    margin: 5px 5px;
}
.overlay_form input {
    padding: 15px;
    margin: 0;
    margin-bottom: 10px;
    width: 75%;
    clear: both;
    cursor: pointer;
}
.logger-container {
	margin: 55px 55px;
}
